<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{post.title}}<span>{{post_title}}</span></a>    
  </div>
  <div>
    {{contents}}
  </div>
  <div class="meta">
    Posted by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>